li.meat{
  color:#ff0000;
}
li.veg{
  color:#00aa00;
}
li.candy{
  color:#ff66ff;
}
li.fruit{
  color:#66eeee;
}
li{
  font-size:50px;
}
li{
  display=inline;
}
div{
  position:absolute;
  bottom:0px;
  background-color:#aaaaaa;
}
