li.meat{
  color:#ff0000;
}
li.veg{
  color:#00aa00;
}
li.candy{
  color:#ff66ff;
}
li.fruit{
  color:#66eeee;
}
li{
  font-size:50px;
}
#list{
  list-style-image:url('http://findicons.com/files/icons/1964/colorcons_green/128/checkmark.png');
}
