li.meat{
  color:#ff0000;
}
li.veg{
  color:#00aa00;
}
li.candy{
  color:#ff66ff;
}
li.fruit{
  color:#66eeee;
}
li{
  font-size:50px;
}
#list{
  list-style-image:url('http://img1.wikia.nocookie.net/__cb20131125154354/roblox/images/5/57/Very-Basic-Checkmark-icon.png');
}
