.navbar{
    margin-bottom:0;
    border-radius:0;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:90;/*should probably be the highest*/
}
#about{
    /*TODO: move this down by however tall the navber is*/
}
hr{
    margin-left:0px;
    text-align:left;
    width:50%;
    /*i feel a constant urge to use gradients...kinda wanna use one here...*/
}
.btn-primary{
    /*TODO: change the damn colors*/
}

#profilePic{
    position:absolute;
    top:10%;
    height:80%;
    width:auto;
    
}

/*#projects{
    height:1500px;
}

#myCarousel{
    height:50%;
}

#myCarousel .carousel-inner{
    height:100%;
}


.project{
    height:100%;
    overflow-y:scroll;
}

.project .container{
    padding:0px;
}*/
