:root{
    --white:#FFFFFF;
    --main:#26A1FF;
    --darkish:#0391FE;
    --dark:#02508C;
    --lightish:#65BCFE;
    --light:#BBE0FD;
}

p.tab{
    text-indent:4em;
    margin:1em;
}

.navbar{
    margin-bottom:0;
    border-radius:0;
    border:0px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:90;/*should probably be the highest*/
    background-color:var(--dark);
}

.navbar a{
    color:var(--light) !important;
}

#profilePic{
    position:absolute;
    top:10%;
    height:80%;
    width:auto;
}

body{
    background-color:var(--light);
}

/*#education .col-xs-4 p{
    /*TODO: make em different from each other? or just bullet points???*
}*/

.skillCol{
    text-align: center;
}
.skillCol b{
    text-align: center;
}
/*keeps the skills to one line on small screens, so that they still line up*/
@media screen and (max-width:399px){
    .skillCol button{
        font-size: 6pt;
    }
}
@media screen and (min-width:400px) and (max-width:599px){
    .skillCol button{
        font-size: 8pt;
    }
}
@media screen and (min-width:600px) and (max-width:899px){
    .skillCol button{
        font-size: 10.5pt;
    }
}
@media screen and (min-width:900px){
    .skillCol button{
        font-size: 12pt;
    }
}

.skill-tab{
    display:inline-block;
    padding:5px;
    border-radius: 10px 10px 0px 0px;
    border:1px solid black;
}

.skill-bubble{
    transition: width 1s, background-color 1s;
    padding:5px;
    display: inline-block;
    text-align:center;
}
.skill-detail{
    transition: max-height 1s;
    overflow-y: hidden;
    width:100%;
}

.skillBar{
    height: 10pt;
    width: 50pt;
    background-color:var(--light);
    outline:1px solid black;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    margin-bottom:10px;
    transition: width 1s, height 1s;
}
.skillBar span{
    height:100%;
    background-color:var(--darkish);
    float:left;
}

.rounded{
    background-color:var(--white);
    box-shadow:0px 0px 15px var(--darkish);/*TODO: not sure if this works on every browser...*/
    border-radius:5px;
}

/*.header:before{
    content: " ";
}*/

#footer{
    background-color:var(--dark);
    color:var(--light);
}
#title{
    /*box-shadow: 0px 0px 10px 10px var(--darkish); maybe re-impliment if I ever put that animation that I wanna add in there...*/
    background-color:var(--lightish);
    color:var(--dark);
}
#title container{
    z-index:9;
}

#projects{
    padding-right:0px;
}
#projects-inner{
    height:50vh;
    overflow-y:scroll; /*TODO: make it look prettier*/
}

button{
    white-space:normal !important;
}

/*
#rate input[type="radio"]{
    opacity:100;
    background: url(media/guitar.PNG) no-repeat;
    width: 19px;
    height: 25px;
    padding: 0 5px 0 0;
    display: block;
    clear: left;
    float: left;
}
/*
#rate input[type="radio"] + label::before{
    content: "";
    overflow: hidden;
    font-size: 10px;
    text-align: center;
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #333333;
    background-color: #EEEEEE;
    width: 12px;
    height: 12px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
#rate input[type="radio"]:checked + label::before{
    content="*";
}
*/

#titleAnimation{
    position:absolute;
    top:0px;
    left:0px;
    z-index:10;
}
