body{
  background-color:#ffffff;
  }
li{
  font-size:20px;
}
p{
  color:#ff0000;
}
li.blue{
  color:#0000ff;
}
#purple{
  color:660066;
}
li:hover{
  color:#ff0000;
}
li:active{
  color:#00ff00;
}
h1{
  color:#000000;
  font-size:50px;
}
#pages{
  font-size:50px;
}
a{
  font-size:30px;
}
tr{
  border:1px;
  margin:100px;
  padding:100px;
}
a.page{
  font-size:30px;
}
header{
  width:100%;
  background-color:red;
}
nav{
  width:100%;
  background-color:blue;
}
aside{
  width:30%;
  background-color:green;
  float:left;
}
section{
  width:70%;
  background-color:purple;
}
footer{
  width:100%;
  background-color:yellow;
  clear:both;
}
