body{
  background-image: url("http://oi57.tinypic.com/2guz1h4.jpg");
}
#tree{
  height:800px;
}
td{
  margin:0px;
  padding:0px;
  border:2px solid black;
  width:325px;
  height:45px;
}
tr{
  margin:0px;
  padding:0px;
}
table{
  margin:0px;
}
li{
}
p{
  color:#000;
}
/*li:hover{
  color:#f00;
}
li:active{
  color:#0f0;
}*/
h1{
  color:#000;
  font-size:50px;
  text-align:center;
}
#pages{
  font-size:50px;
}
a.link{
  font-size:20px;
  color:#333;
  margin:0px;
  padding:5px;
  text-decoration:none;
}
a.link:hover{
  color:#000;
}
img{
  height:300px;
  position:relative;
}
.par{
  margin-bottom:30px;
}
.par:before{
  content:"　　";
}
.title{
  text-align:center;
  margin-bottom:0px;
  margin-top:30px;
}
.mid{
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.reallink{
  
}
/*DIVS*/
header{
  width:100%;
  height:50px;
  background-color:#C9F;
  position:fixed;
  z-index:10;
  top:0px;
  left:0px;
  text-align:center;
}
/*footer{
  width:100%;
  height:56px;
  background-color:#ddf;
  clear:both;
  z-index:41;
  bottom:0px;
  top:auto;
  margin-bottom:0px;
}*/
.content{
  top:100px;
  margin-top:0px;
  margin-left:225px;
  margin-right:225px;
}
.llist{
  width:400px;
  height:125px;
  margin-right:0px;
  margin-top:50px;
}
.rlist{
}
#lists{
  margin-left:20%;
}
#leftbox{
  margin-left:0px;
  left:0px;
  top:50px;
  position:fixed;/*or absolute*/
  width:200px;
}
#rightbox{
  margin-right:0px;
  right:0px;
  top:50px;
  position:fixed;/*or absolute*/
  width:200px;
}
